* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 
 body{
  background-color: rgb(90, 180, 176);
  color: rgb(239, 228, 228);
  font-family: Georgia, 'Times New Roman', Times, serif;

 }